<h1>ADD</h1>

<form action="/add" method="post">
    LatLong:     <input type="text" name="latLong"><br>
    Role: <input type="text" name="role"><br>
    OpenHour:     <input type="text" name="openHour"><br>
    DefaultAccount:     <input type="text" name="defaultAccount"><br>
    BankName:     <input type="text" name="bankName"><br>
    BranchName:     <input type="text" name="branchName"><br>
    <button type="submit">ADD</button>
</form>